/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* FUNDO COM IMAGEM */
body {
    min-height: 100vh;
    background: url("fundo.webp") no-repeat center center/cover;
    position: relative;
    color: #fff;
}

/* OVERLAY PRETO COM FADE */
.overlay {
    position: fixed;
    inset: 0;
    background: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
    );
    z-index: 1;
}

/* CONTEÚDO NA FRENTE */
.container {
    position: relative;
    z-index: 2;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 35%;
    gap: 20px
}
 
/* CABEÇALHO */
header h1 {
    font-family: 'EB Garamond', serif;
    font-size: 5rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
    text-align: center;
}

/* SLOGAN DA MARCA */
.slogan {
    font-family: 'EB Garamond', serif;
    font-size: 1rem;
    font-style: italic;
    opacity: 0.85;
    text-align: center;
}

/* CAIXA DE LOGIN */
.login-box {
    padding: 50px;
    border-radius: 25px;
    width: 100%;
    max-width: 400px;
    backdrop-filter: blur(10px); 
}

/* Textos de "Login e Senha" */
.login-box h2 {
    text-align: left;
    font-size: 1rem;
    margin: 15px 0 8px; 
}

/* Barra de textos ("Login e senha") */
.login-box input[type="text"],
.login-box input[type="password"] {
    width: 100%;
    font-size: 1rem;
    padding: 15px;
    border-radius: 15px;
    border: none;
    outline: none;
}

/* BOTÃO "Entrar" */
.login-box button {
    width: 100%;
    margin-top: 20px;
    padding: 25px;
    border: none;
    border-radius: 15px;
    background: #b22222;
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s;
}

.login-box button:hover {
    background: #8b0000;
}

/* OPÇÕES */
.options {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 0.85rem;
}

.options a {
    color: #fff;
    text-decoration: none;
}

.options a:hover {
    text-decoration: underline;
}

/* RODAPÉ */
footer {
    margin-top: 40px;
    font-size: 0.8rem;
    opacity: 0.8;
}